<div class="container mx-auto mt-5 text-center animate__animated animate__fadeIn">
  <h2 class="text-3xl">Formulario reactivo</h2>
</div>

<div class="container mx-auto mt-5 flex justify-center animate__animated animate__fadeIn ">

  <form class="w-full max-w-sm"  [formGroup]="formularioContacto" (ngSubmit)="enviar()">
    <div class="md:flex md:items-center mb-6">
     
      <div class="md:w-full">
        <input 
          formControlName="nombre"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" placeholder="Nombre(s)">
      </div>
    </div>
    <div class="md:flex md:items-center mb-6">
      
      <div class="md:w-full">
        <input 
        formControlName="email"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-username" type="email" placeholder="Email">
      </div>
    </div>

    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
        ¿Qué necesitas?
      </label>
      <div class="relative">
        <select 
        formControlName="opciones"
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
          <option selected disabled>Seleccione una opcion</option>
          <option>Aplicación web</option>
          <option>Aplicación movil</option>
          <option>Pagina web</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>

    <div class="md:flex md:items-center mb-6">
      
      <label class="md:w-full block text-gray-500 font-bold">
        <input
        formControlName="terminos"
          class="mr-2 leading-tight" type="checkbox">
        <span class="text-sm">
          Acepto los terminos y condiciones
        </span>
      </label>
    </div>
    <div class="md:flex md:items-center">
      
      <div class="md:w-full">
        <button  class="shadow miBoton focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
          Solicitar
        </button>
      </div>
    </div>
  </form>

  

</div>

<div class="container mx-auto mt-5">
  <div>Estado del formulario {{ formularioContacto.valid }} </div>
  <div> {{ formularioContacto.status }} </div>
  <div> {{ formularioContacto.value | json }} </div>
</div>