.jumbotron{
    height: 300px;
    background: #03203C;
}
.cont{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.title{
    width: 100%;
}

.subtitle{
    margin-top: -150px;
}