<div class="con">
    <ul class="flex">
        <li class="mr-6" >
          <a class="text-gray-700 " [routerLink]="['home']" routerLinkActive="active">Inicio</a>
        </li>
        <li class="mr-6">
          <a class="text-gray-700 " [routerLink]="['pipes_ejemplos']" routerLinkActive="active">Pipes</a>
        </li>
        <li class="mr-6">
          <a class="text-gray-700 " [routerLink]="['api']" routerLinkActive="active">Api consumo</a>
        </li>
        <li class="mr-6">
          <a class="text-gray-700 " [routerLink]="['contact']" routerLinkActive="active">Contacto</a>
        </li>
      </ul>
</div>